[defaults]
inventory = inventories/example/hosts.yml
roles_path = roles
stdout_callback = yaml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
