apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ restore_pv_name }}
  labels:
    app.kubernetes.io/name: openshift-etcd-restore
    app.kubernetes.io/component: kanister-restore-target
spec:
  storageClassName: {{ restore_storage_class }}
  capacity:
    storage: {{ restore_storage_size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: {{ restore_host_path | quote }}
